.orderSelectOptions {
  margin-top: 20px;
}

.itemSelections {
  width: 70vw;
  display : flex;
  justify-content: space-between;
}

.itemName {
  margin-top: 20px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemNameText {
  font-size: 20px;
  color: #2E3438;
  font-weight: 500;
}

.itemPrice {
  margin-top:-16px;
  width: 180px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5f666d;
}

.itemCount {
  margin-top:-16px;
  color: #E83C77;
}

.OptionTextSubtitle {
  font-size: 18px;
  font-weight: 500;
  color: #5F666D;
  line-height: 150%;
}

.orderSelectOptions__item0 {
  width: 180px;
}

.orderSelectOptions__item1 {
  width: 180px;
}

.orderSelectOptions__item2 {
  width: 180px;
}

.orderInfo {
  position: fixed;
  top: 200px;
  font-size: 24px;
  font-weight: 500;
  color: #2E3438;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100vw;
}